<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854522484005-9lm8hd00dioohdm3u0v23ucl9mo411nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854522484005-9lm8hd00dioohdm3u0v23ucl9mo411nl</string>
	<key>API_KEY</key>
	<string>AIzaSyAVMaPL26Y1ULTMsjAA1r9a6WaKcC119bg</string>
	<key>GCM_SENDER_ID</key>
	<string>854522484005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wkkhchan.bookreader</string>
	<key>PROJECT_ID</key>
	<string>flutter-book-reader</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-book-reader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854522484005:ios:5e0301f752a1fea5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-book-reader.firebaseio.com</string>
</dict>
</plist>